<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name', 'Laravel') }}</title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>
    <!-- <script src="{{ asset('js/app.js') }}" ></script> -->

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,600,700&display=swap" rel="stylesheet" >

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">

    <!-- Icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/js/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <div id="app">
        
    <body class="nav-md admin">
    <div class="container body admin">
      <div class="main_container">
        <div id="dashboard" class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title">
                  <span>Dashboard</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            <!-- <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section"> -->
                <!-- Home, List, Calendar, Report -->
                <!-- <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Booking <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url('/booking/new') }}">Booking Webinar</a></li>
                      <li><a href="{{ url('/booking/waitinglist') }}">Waiting List Webinar</a></li>
                      <li><a href="{{ url('/booking/list') }}">List Webinar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Calendar <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="{{ url('/booking/waitinglist') }}">Calendar</a></li>
                    </ul>
                  </li>
                </ul>
              </div>

            </div> -->
            <!-- /sidebar menu -->

          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding: 0px; margin: 0;">
                  <a style="color: white; text-decoration: none;" href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user admin"></i>User
                  </a>
                  <div style="margin: 0" class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="l{{ url('logout') }}"><i class="fa fa-sign-out pull-right"></i>Log Out</a>
                  </div>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->


        <!-- <main class="py-4"> -->
            <form id="signup" action="somewhere" method="POST">
                <ul id="section-tabs">
                  <li class="current active"><span>1.</span> Creds</li>
                  <li><span>2.</span> Deets</li>
                  <li><span>3.</span> Settings</li>
                  <li><span>4.</span> Last Words</li>
                </ul>
              <div id="fieldsets">
              <fieldset class="current">
                <label for="email">Email:</label>
                <input name="email" type="email" class="required email" />
                <label name="password" for="password">Password:</label>
                <input type="password" minlength="10" class="required">
              </fieldset>
              <fieldset class="next">
                <label for="username">Username:</label>
                <input name="username" type="text">
                <label for="bio">Short Bio:</label>
                <textarea name="bio" class="required"></textarea>
              </fieldset>
              <fieldset class="next">
                <label for="interests">Basic Interests:</label>
                <textarea name="bio"></textarea>
                <p>Receive newsletter?<br>
                  <input type="radio" name="newsletter" value="yes"><label for="newsletter">yes</label>
                  <input type="radio" name="newsletter" value="no"><label for="newsletter">no</label>
                </p>
              </fieldset>
              <fieldset class="next">
                <label for="referrer">Referred by:</label>
                <input type="text" name="referrer">
                <label for="phone">Daytime Phone:</label>
                <input type="tel" name="phone">
              </fieldset>
              <a class="btn" id="next">Next Section ▷</a>
              <input type="submit" class="btn">
              </div>
            </form>
            

        </div>
    </div>

        <!-- jQuery -->
        <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

        <!-- Page JS Plugins -->
        <!-- <script src="{{ asset('assets/js/plugins/jquery-ui/jquery-ui.min.js') }}" defer></script> -->
        <script src="{{ asset('assets/js/plugins/moment/moment.min.js') }}" defer></script>
        <script src="{{ asset('assets/js/plugins/fullcalendar/fullcalendar.min.js') }}" defer></script>

        <!-- Page JS Code -->
        <script src="{{ asset('assets/js/pages/be_comp_calendar.min.js') }}" defer></script>

    </div>
</body>
</html>

